<ion-menu menu-id="home" contentId="content1" side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="irA('configuracion/usuario')">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item (click)="irA('configuracion')">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item color="danger" (click)="salir()">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>