<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de caja
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      Total
    </ion-item>

    <ion-item>
      <ion-label>Entrada</ion-label>
      <ion-input placeholder="$ 0" type="number"></ion-input>
    </ion-item>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="success">
        <ion-icon name="arrow-dropright" slot="start"></ion-icon>
        Continuar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>