<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Combos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let grupo of gruposCombos">
    <ion-item-group>
      <ion-item-divider color="medium">
        <ion-label>{{grupo.grupo.nombre}}</ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-list>
      <ion-item (click)="ver(combo.id)" *ngFor="let combo of grupo.items">
        <ion-avatar slot="start" *ngIf="combo.imagen">
          <img [src]="combo.imagen" />
        </ion-avatar>

        <ion-text>{{combo.nombre}}</ion-text>
        <ion-badge slot="end">{{combo.cantidad}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="success" slot="end" (click)="ver()">
      <ion-icon name="add" slot="start"></ion-icon>
      Nuevo
    </ion-button>
  </ion-toolbar>
</ion-footer>