<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="estado" (ionChange)="updatePedidos()">
      <ion-segment-button value="Pendiente">
        Pendiente
      </ion-segment-button>

      <ion-segment-button value="Preparado">
        Preparado
      </ion-segment-button>

      <ion-segment-button value="Enviado">
        Enviado
      </ion-segment-button>

      <ion-segment-button value="Pendiente pago">
        Pendiente de pago
      </ion-segment-button>

      <ion-segment-button value="Finalizado">
        Finalizado
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos.items">
      <ion-text>
        <ion-title size="small">Pedido {{pedido.id}}</ion-title>
        <ion-note>{{pedido.actualizacion.toDate() | fecha}}</ion-note>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button color="primary" (click)="ver(pedido)">
          <ion-icon name="clipboard-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>