<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="warning" lines="none" *ngIf="pedidos && !pedidos.cantidad">
    No hay pedidos pendientes
  </ion-item>

  <ion-list *ngIf="pedidos">
    <ion-item *ngFor="let pedido of pedidos.items">
      <ion-text>
        <ion-title size="small">Pedido {{pedido.id}}</ion-title>
        <ion-note>{{pedido.actualizacion.toDate() | fecha}}</ion-note>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button color="primary" (click)="ver(pedido)">
          <ion-icon name="clipboard-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>