<ion-list>
  <ion-item (click)="inventario('a')">
    <ion-icon name="cloud-upload" slot="start"></ion-icon>
    Ingresar Pollo Sin preparar
  </ion-item>

  <ion-item (click)="inventario('b')">
    <ion-icon name="restaurant" slot="start"></ion-icon>
    Ingresar Pollo Asado
  </ion-item>

  <ion-item (click)="inventario('c')">
    <ion-icon name="restaurant" slot="start"></ion-icon>
    Ingresar Pollo Brosteer
  </ion-item>

  <ion-item (click)="inventario()">
    <ion-icon name="beer" slot="start"></ion-icon>
    Ingresar Productos
  </ion-item>
</ion-list>