<ion-header>
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-textarea placeholder="Ingresa una observación" [formControl]="mensaje"></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="mensaje.invalid" (click)="continuar()">
        <ion-icon name="arrow-dropright" slot="start"></ion-icon>
        Continuar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>