<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!ventas || (ventas && mobile)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end" *ngIf="ventas">
      <ion-menu-button>
        <ion-icon [color]="cantidad && 'danger'" name="cart"></ion-icon>
        <ion-badge color="danger" *ngIf="cantidad">*</ion-badge>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment scrollable (ionChange)="updateProductosGrupo($event)">
      <ion-segment-button [value]="0" checked>
        Todos
      </ion-segment-button>
      <ion-segment-button *ngFor="let grupo of grupos" [value]="grupo.id">
        {{grupo.nombre}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="no-padding" *ngFor="let grupo of gruposProducto">
    <ion-item-group>
      <ion-item-divider color="medium" *ngIf="agrupar">
        <ion-label>{{grupo.grupo.nombre}}</ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row *ngIf="!ventas">
          <ion-col size-lg="3" size-md="4" *ngFor="let producto of grupo.items">
            <ion-card style="margin: 0px;" (click)="ventas ? agregar(producto) : ver(producto.id)">
              <ion-card-header [color]="producto.activo ? 'primary' : 'medium'" class="ion-text-wrap">
                {{producto.nombre}}
              </ion-card-header>
              <ion-card-content style="padding: 0;" *ngIf="producto.imagen">
                <img [src]="producto.imagen">
                <ion-item>
                  <ion-note slot="start">Disponible {{producto.cantidad || 0}}</ion-note>
                  <ion-text color="tertiary" slot="end">
                    <h2 style="font-weight: bold;">
                      {{producto.precio | currency : 'COP' : 'symbol' }}</h2>
                  </ion-text>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="ventas">
          <ion-col size-lg="4" size-md="4" *ngFor="let producto of grupo.items">
            <ion-card style="margin: 0px;" (click)="ventas ? agregar(producto) : ver(producto.id)">
              <ion-card-header color="primary" class="ion-text-wrap">
                {{producto.nombre}}
              </ion-card-header>
              <ion-card-content style="padding: 0;" *ngIf="producto.imagen">
                <img [src]="producto.imagen">
                <ion-item>
                  <ion-note slot="start">Disponible {{producto.cantidad || 0}}</ion-note>
                  <ion-text color="tertiary" slot="end">
                    <h2 style="font-weight: bold;">
                      {{producto.precio | currency : 'COP' : 'symbol' }}</h2>
                  </ion-text>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!ventas">
    <ion-fab-button color="primary" (click)="ver()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>