<ion-split-pane when="md">
  <ion-menu contentId="content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Venta</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item no-padding *ngFor="let item of venta.detalle">
        <ion-grid no-padding id="detalle">
          <ion-row>
            <ion-col size="2">
              <ion-text>{{item.cantidad}}</ion-text>
            </ion-col>

            <ion-col size="6">
              <ion-text>{{item.producto.nombre}}</ion-text>
            </ion-col>

            <ion-col size="3" style="padding-left: 0; padding-right: 0px;">
              <ion-text>{{item.subtotal | currency : 'COP': 'symbol'}}</ion-text>
            </ion-col>

            <ion-col size="1">
              <ion-button no-padding size="small" fill="clear" color="danger"
                (click)="quitar(item.producto.id, item.producto.nombre, item.cantidad)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-content>

    <ion-footer>
      <ion-text color="danger">
        <h4 style="margin: 10px; font-weight: bold; text-align: right;">
          Total: {{venta.total | currency : 'COP': 'symbol'}}
        </h4>
      </ion-text>

      <ion-button [disabled]="!venta.detalle[0]" expand="block" color="secondary" (click)="terminar()">
        Finalizar
      </ion-button>
      <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>