$categories: (
    apertura: #3bc7c4,
    cierre: #fd8b2d,
    descuadre: #222,
    inicio: #3bc7c4,
    retiro: #fe4c52,
    venta: #69bb7b
);

@function auxiliary-categories() {
    @return map-remove($categories);
}

@each $track, $value in auxiliary-categories() {
    ion-item[track="#{$track}"] {
        border-left: 2px solid $value;

        ion-text {
            p {
                color: $value;
            }
        }

        ion-icon {
            color: $value;
        }
    }
}
