<ion-list class="ion-no-padding">
  <ion-item color="warning" (click)="ejecutar('Retiro')" *ngIf="caja && caja.estado === 'Abierta'">
    <ion-icon name="cash" slot="start"></ion-icon>
    Retiro
  </ion-item>

  <ion-item color="danger" (click)="ejecutar('Cierre')" *ngIf="caja && caja.estado === 'Abierta'">
    <ion-icon name="exit" slot="start"></ion-icon>
    Cerrar caja
  </ion-item>

  <ion-item color="success" (click)="ejecutar(movimiento ? 'Apertura' : 'Inicio')"
    *ngIf="caja && (caja.estado === 'Cerrada' || caja.estado === 'Descuadre')">
    <ion-icon name="open" slot="start"></ion-icon>
    Abrir caja
  </ion-item>
</ion-list>