<ion-header>
  <ion-toolbar>
    <ion-title>Datos de combo</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="todo && todo.controls">
    <ion-card-content>
      <form [formGroup]="todo">
        <ion-item>
          <ion-label position="stacked">Combo:</ion-label>
          <ion-input type="text" formControlName="nombre" maxlength="100" (ionChange)="updateFilePath()"
            [disabled]="id"></ion-input>
        </ion-item>

        <div *ngIf="todo.controls.nombre.errors && todo.controls.nombre.touched">
          <ion-item color="danger" *ngIf="todo.controls.nombre.errors.required">
            <p>El combo no es válido</p>
          </ion-item>

          <ion-item color="danger" *ngIf="todo.controls.nombre.errors.valorUnico">
            <p>El combo ya existe</p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label position="stacked">Grupo:</ion-label>
          <ion-select required formControlName="grupo" interface="action-sheet" [compareWith]="compareWithFn">
            <ion-select-option *ngFor="let grupo of grupos" [value]="grupo">{{grupo.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.grupo.errors && todo.controls.grupo.touched">
          <p>Grupo no es válido</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Productos:</ion-label>
          <ion-select formControlName="productos" multiple="true" [compareWith]="compareWithFn">
            <ion-select-option *ngFor="let producto of productos" [value]="producto">{{producto.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.grupo.errors && todo.controls.grupo.touched">
          <p>Productos no es válido</p>
        </ion-item>

        <ion-item>
          <ion-list>
            <ion-item *ngFor="let producto of todo.value.productos; let i = index">
              <ion-label color="primary">{{producto.nombre}}: </ion-label>
              <ion-input placeholder="0" type="number" [value]="producto.cantidad" (ionChange)="cantidad($event, i)">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-item style="text-align: center" *ngIf="todo.controls.imagen.value">
          <img [src]="todo.controls.imagen.value" style="max-width:300px;" />
        </ion-item>

        <ion-item *ngIf="!mobile && todo.controls.nombre.value">
          <label class="item item-input"> <input type="file" id="upimgfile" name="uploadfile"
              (change)="seleccionarImagen($event)">
          </label>
        </ion-item>

        <ion-item *ngIf="mobile && todo.controls.nombre.value">
          <ion-fab vertical="bottom" horizontal="center">
            <ion-fab-button size="small">
              <ion-icon name="image"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="start">
              <ion-fab-button (click)="sacarFoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>

            <ion-fab-list side="end">
              <ion-fab-button>
                <ion-icon name="cloud-upload" (click)="cargarImagen()"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="secondary" [disabled]="!todo || todo.invalid" (click)="guardar()">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Guardar
      </ion-button>

      <ion-button fill="solid" color="danger" *ngIf="!id" (click)="cerrar()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancelar
      </ion-button>

      <ion-button fill="solid" color="danger" *ngIf="id" (click)="eliminar()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Eliminar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>